body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 20px;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    padding-bottom: 12px;
    border-bottom: 1px solid;
}

#inner {
    width: 960px;
    margin: 0px auto;
}