h1,
h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}

h1 {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1px solid;
    padding-right: 5rem;
}

p {
    margin: 0;
}
