h1,
h2 {
	font-weight: normal;
	margin: 0;
	margin-bottom: 1rem;
}

h1 {
	display: inline-block;
	padding-bottom: 4px;
	border-bottom: 1px solid;
	padding-right: 5rem;
}

p {
	margin: 0;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;

	min-width: 100vw;
	min-height: 100vh;
}

.background-div {
	filter: blur(4px);
	-webkit-filter: blur(4px);
	box-shadow: 0 0 50px 50px black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}


.grid-div {
	display: grid;
	grid-template-columns: auto 40rem 24rem auto;
	min-height: 100vh;
}

.main-div-outer {
	max-width: 100vw;
	background-color: white
}

.main-div-inner {
	padding: 1rem
}

.flag {
	width: 16rem;
	float: left;
	padding: 1rem;
}

.large-image {
	width: 32rem;
}

.list-image {
	float: right;
	width: 18rem;
}

@media all and (max-width: 64rem) {
	p {
		padding-bottom: 1rem;
	}

	img {
		float: unset !important;
		width: 90% !important;
	}

	.grid-div {
		display: block;
	}
}
