@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 100 900;
	/* supports all weights */
	font-style: normal
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 125px;
	background-color: rgba(34, 32, 32, 0.2);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.6s ease;
}

header:hover {
	background-color: rgba(195, 195, 186, 0.4);
}

.name-h h1 {
	font-family: 'Open Sans';
	font-size: 2.5rem;
	font-weight: 00;
	margin-left: 20px;
	color: rgb(0, 0, 0);
}

.drop-down {
	cursor: pointer;
}

.dropdown-menu {
	display: none;
}

.nav-bar {
	padding-right: 30px;
	font-family: 'Open Sans', cursive;
}

.nav-bar a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	margin-left: 20px;
	font-size: 1.5rem;
	font-family: 'Open Sans';
	transition: color 0.3s ease;
}

.nav-bar a:hover {
	color: rgb(100, 100, 100);
}

.nav-bar ul {
	min-width: 150px;
	list-style: none;
	font-size: 23px;
	position: absolute;
	background-color: rgba(195, 195, 186, 0.4);
	backdrop-filter: blur(10px);
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
	right: 6%;
	transition: opacity 0.5s ease;
}

.nav-bar ul li {
	padding: 10px 0;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.nav-bar ul li:hover {
	color: rgb(100, 100, 100);
}

.show {
	display: block;
}
