@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
 font-weight: 100 900; /* supports all weights */
    font-style: normal
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    background-color: rgb(255, 255, 255);
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 125px;
    background-color: rgba(34, 32, 32, 0.2);
    backdrop-filter: blur(10px) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.6s ease;
}
.header:hover{
background-color: rgba(195, 195, 186, 0.4);
}
.nav-bar{
    padding-right: 30px;
    font-family: 'Open Sans', cursive;
}
.nav-bar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: 'Open Sans';
    transition: color 0.3s ease;
}
.nav-bar a:hover{
    color: rgb(100, 100, 100);
}
.nav-bar ul{
    opacity: 0;
    list-style: none;
    font-size: 22px;
     position: absolute;
     right: 20px;
    transition: opacity 0.8s ease;
}
.drop-down:hover + ul{
    opacity: 1;
    position: absolute;
    background-color: rgba(195, 195, 186, 0.4);
    backdrop-filter: blur(10px) ;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}


.name-h h1{
    font-family: 'Open Sans';
    font-size: 2.5rem;
    font-weight: 00;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
.top-section{
    height:900px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.top-section img{
    width: 70%;
    height: 800px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 50px;
}
.intro-text{
    width: 30%;
    height: 100%;
    padding-top: 20%;
    padding-left: 3%;
    align-items: center;
}
.intro-text h2{
    font-size: 3rem;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.about-section{
    height: 800px;
    width: 100%;
    padding-left: 3%;
    padding-top: 6%;
}
.about-section h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.about-section p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    line-height: 1.6;
    width: 90%;
    font-weight: lighter;
}
.countries-section{
    height: 800px;
    width: 100%;
    padding-left: 3%;
}
.countries-section h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.carousel{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.carousel-item{
    width: 380px;
    height: 400px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0.3;
    transform: scale(0.7);
    transition: opacity 0.3s ease,transform 0.3s ease;
}
.carousel-item img{
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
}
.main-item{
    opacity: 1;
    transition: opacity 0.8s ease, transform 0.8s ease;
     transform: scale(1);
     cursor: pointer;
}
.main-item:hover{
    transform: scale(1.05); 
}
footer{
    height: 150px;
    width: 100%;
    background-color: rgba(34, 32, 32, 0.2);
    backdrop-filter: blur(10px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    margin-top: 50px;

}
